<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <body>
      <div class="container mb-2">
        <div class="row justify-content-center mt-3">
          <div class="col-md-8 col-lg-6">
            <div class="card">
              <div class="card-header bg-success">
                <h1 class="text-center">Registration</a></h1>
              </div>
              <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group ">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username }}
                  </div>
                  <div class="form-row">
                    
                    <div class="form-group col-md-6">
                      <label for="{{ form.first_name.id_for_label }}">First Name</label>
                      {{ form.first_name }}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                      {{ form.last_name }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="{{ form.phone.id_for_label }}">Phone</label>
                      {{ form.phone }}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="{{ form.address.id_for_label }}">Address</label>
                      {{ form.address }}
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="{{ form.image.id_for_label }}">Image</label>
                      {{ form.image }}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="{{ form.usertype.id_for_label }}">User Type</label>
                      {{ form.usertype }}
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="{{ form.password1.id_for_label }}">Password</label>
                      {{ form.password1 }}
                    </div>
                    <div class="form-group  col-md-6">
                      <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                      {{ form.password2 }}
                    </div>
                  </div>
                  
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-success col-10">Create</button>
                    <a href="{% url 'h' %}" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg></a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
    
    
      
    </body>
</html>

